{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
    <div class="card">
        <div class="card-body">

            {{ form_start(form) }}
            <div class="row">
                <div class="col-md-2">{{ form_widget(form.id) }}</div>
                <div class="col-md-2">{{ form_widget(form.name) }}</div>
                <div class="col-md-3">{{ form_widget(form.status) }}</div>
                <div class="col">
                    <button type="submit" class="btn btn-primary">Filter</button>
                    <a href="{{ path('admin_school_list') }}" class="btn btn-outline-secondary">Reset</a>
                </div>
            </div>
            {{ form_end(form) }}

        </div>
    </div>

    <div class="box">
        <table class="table table-bordered table-hover">
            <thead>
            <tr>
                <th>{{ knp_pagination_sortable(pagination, 'Id', 'Id') }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'Name', 'name') }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'Status', 'status') }}</th>
                <th>Actions</th>
                <th>Invitation date</th>
            </tr>
            </thead>
            <tbody>
            {% for school in pagination %}
                <tr>
                    <td>{{ school.id }}</td>
                    <td>{{ school.name }}</td>
                    <td>{{ school.status }}</td>
                    <td>
                        {% if school.status in statusesCanBeConfirmed %}

                            <form action="{{ path('admin_school_confirm', {'id': school.id}) }}" method="post" onsubmit="return confirm('Confirm?')">
                                <input type="hidden" name="token" value="{{ csrf_token('school_confirm') }}"/>
                                <button type="submit" class="btn btn-sm btn-success">
                                    Confirm
                                    <span class="fa fa-plus"></span>
                                </button>
                            </form>
                        {% endif %}

                    </td>
                    <td>
                        {% if school.invitation_date %}
                            {{ school.invitation_date|date('Y-m-d H:i:s') }}
                        {% endif %}

                    </td>

                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    <div class="navigation">
        {{ knp_pagination_render(pagination) }}
    </div>
{% endblock %}
