{% extends 'base.html.twig' %}

{% block title %}All pages{% endblock %}

{% block body %}


    <div class="mb-3">
         <a href="{{ path('school_register') }}">Register as a school</a>
    </div>
    <div class="mb-3">
         <a href="{{ path('app_home') }}">Home page</a>
    </div>

    <div class="mb-3">
         <a href="{{ path('admin_login') }}">admin login</a>
    </div>
    <div class="mb-3">
         <a href="{{ path('admin_logout') }}">Logout</a>
    </div>
    <div class="mb-3">
         <a href="{{ path('admin_school_list') }}">Admin school list</a>
    </div>


{% endblock %}
