<!doctype html>
<html lang="en" data-bs-theme="auto">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        {% block resources %}
            <script>
              const abeApp = {
                urls: {
                  school_login: '{{ path('school_login') }}',
                  school_register: '{{ path('school_register') }}',
                  school_home: '{{ path('school_home') }}',
                  school_course_edit: '{{ path('school_course_edit', {'courseId': ':id'}) }}',
                  school_course_add: '{{ path('school_course_add') }}',
                  school_course_list_show: '{{ path('school_course_list_show') }}',
                  school_campus_add: '{{ path('school_campus_add') }}',
                  school_campus_edit: '{{ path('school_campus_edit', {'campusId': ':id'}) }}',
                  school_campus_list_show: '{{ path('school_campus_list_show') }}',
                  school_student_list_show: '{{ path('school_student_list_show') }}',
                  api_school_sidebar: '{{ path('api_school_sidebar') }}',
                  api_school_course: '{{ path('api_school_course') }}',
                  api_school_course_add: '{{ path('api_school_course_add') }}',
                  api_school_course_edit: '{{ path('api_school_course_edit', {'courseId': ':id'}) }}',
                  api_school_course_list: '{{ path('api_school_course_list') }}',
                  api_school_course_intake: '{{ path('api_school_course_intake', {'courseId': ':courseId', 'intakeId': ':intakeId'}) }}',
                  api_school_course_intake_add: '{{ path('api_school_course_intake_add', {'courseId': ':id'}) }}',
                  api_school_course_intake_edit: '{{ path('api_school_course_intake_edit', {'courseId': ':courseId', 'intakeId': ':intakeId'}) }}',
                  api_school_course_intake_remove: '{{ path('api_school_course_intake_remove', {'courseId': ':courseId', 'intakeId': ':intakeId'}) }}',
                  api_school_course_intake_list: '{{ path('api_school_course_intake_list', {'courseId': ':id'}) }}',
                  api_school_campus: '{{ path('api_school_campus', {'campusId': ':id'}) }}',
                  api_school_campus_add: '{{ path('api_school_campus_add') }}',
                  api_school_campus_edit: '{{ path('api_school_campus_edit', {'campusId': ':id'}) }}',
                  api_school_campus_list: '{{ path('api_school_campus_list') }}',
                }
              }
              window.abeApp = abeApp
            </script>
            {% set componentName = componentName|default('app') %}
            {% block stylesheets %}
                {{ encore_entry_link_tags(componentName) }}
            {% endblock %}

            {% block javascripts %}
                {{ encore_entry_script_tags(componentName) }}
            {% endblock %}
        {% endblock resources %}
    </head>
    <body>
        <div id="root"></div>
    </body>
</html>