<!doctype html>
<html lang="en" data-bs-theme="auto">
    <head>
        <!-- Google tag (gtag.js) -->
        <script async src="https://www.googletagmanager.com/gtag/js?id={{ google_tag_manager_id }}"></script>
        <script>
          window.dataLayer = window.dataLayer || [];
          function gtag(){dataLayer.push(arguments);}
          gtag('js', new Date());
          gtag('config', '{{ google_tag_manager_id }}');
        </script>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}Enrollment Demo App!{% endblock %}</title>
        <meta name="description" content="Enrollment Demo App is a simple example of a platform that aims to simplify the application process for students and education providers created by Anna Borzenko with React, PHP, and Symfony.">
        <meta name="og:title" content="Enrollment Demo App!">
        <meta name="og:description" content="Enrollment Demo App is a simple example of a platform that aims to simplify the application process for students and education providers created by Anna Borzenko with React, PHP, and Symfony.">
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>AB</text></svg>">
        {% block resources %}
            <script>
                {% set currentSection = current_section() %}
                {% if currentSection == 'admin' %}
                const urls = {
                  api_sidebar: '{{ path('api_admin_sidebar') }}',
                  logout: '{{ path('admin_logout') }}',
                  admin_home: '{{ path(constant('App\\Infrastructure\\RouteEnum::ADMIN_HOME')) }}',
                  admin_school_list_show: '{{ path('admin_school_list_show') }}',
                  api_admin_school_list: '{{ path('api_admin_school_list') }}',
                  api_admin_school_confirm: '{{ path('api_admin_school_confirm', {'schoolId': ':schoolId'}) }}',
                  api_admin_school_delete: '{{ path('api_admin_school_delete', {'schoolId': ':schoolId'}) }}',
                }
                {% elseif currentSection == 'student' %}
                const urls = {
                  api_sidebar: '{{ path('api_student_sidebar') }}',
                  logout: '{{ path(constant('App\\Infrastructure\\RouteEnum::STUDENT_LOGOUT')) }}',
                  student_home: '{{ path(constant('App\\Infrastructure\\RouteEnum::STUDENT_HOME')) }}',
                  student_register: '{{ path(constant('App\\Infrastructure\\RouteEnum::STUDENT_REGISTER')) }}',
                  student_application: '{{ path(constant('App\\Infrastructure\\RouteEnum::STUDENT_APPLICATION')) }}',
                  student_application_list: '{{ path(constant('App\\Infrastructure\\RouteEnum::STUDENT_APPLICATION_LIST')) }}',
                  api_student_register: '{{ path(constant('App\\Infrastructure\\RouteEnum::API_STUDENT_REGISTER')) }}',
                  api_student_application_school_list: '{{ path('api_student_application_school_list') }}',
                  api_student_application_course_list: '{{ path('api_student_application_course_list', {'schoolId': ':schoolId'}) }}',
                  api_student_application_intake_list: '{{ path('api_student_application_intake_list', {'schoolId': ':schoolId', 'courseId': ':courseId'}) }}',
                  api_student_application: '{{ path('api_student_application') }}',
                  api_student_application_list: '{{ path('api_student_application_list') }}',
                }
                {% elseif currentSection == 'school' %}
                const urls = {
                  api_sidebar: '{{ path('api_school_sidebar') }}',
                  logout: '{{ path('school_logout') }}',
                  school_member_register: '{{ path('school_member_register', {'invitationToken':':invitationToken', 'schoolId':':schoolId'}) }}',
                  school_home: '{{ path(constant('App\\Infrastructure\\RouteEnum::SCHOOL_HOME')) }}',
                  school_register: '{{ path('school_register') }}',
                  school_course_edit: '{{ path('school_course_edit', {'courseId': ':id'}) }}',
                  school_course_add: '{{ path('school_course_add') }}',
                  school_course_list_show: '{{ path('school_course_list_show') }}',
                  school_campus_add: '{{ path('school_campus_add') }}',
                  school_campus_edit: '{{ path('school_campus_edit', {'campusId': ':id'}) }}',
                  school_campus_list_show: '{{ path('school_campus_list_show') }}',
                  school_student_list_show: '{{ path('school_student_list_show') }}',
                  school_profile_show: '{{ path('school_profile_show') }}',
                  school_application_list_show: '{{ path('school_application_list_show') }}',
                  school_application_edit: '{{ path('school_application_edit', {'applicationId': ':applicationId'}) }}',
                  api_school_member_register: '{{ path('api_school_member_register', {'invitationToken':':invitationToken', 'schoolId':':schoolId'}) }}',
                  api_school_course: '{{ path('api_school_course') }}',
                  api_school_course_add: '{{ path('api_school_course_add') }}',
                  api_school_course_edit: '{{ path('api_school_course_edit', {'courseId': ':id'}) }}',
                  api_school_course_list: '{{ path('api_school_course_list') }}',
                  api_school_course_intake: '{{ path('api_school_course_intake', {'courseId': ':courseId', 'intakeId': ':intakeId'}) }}',
                  api_school_course_intake_add: '{{ path('api_school_course_intake_add', {'courseId': ':courseId'}) }}',
                  api_school_course_intake_edit: '{{ path('api_school_course_intake_edit', {'courseId': ':courseId', 'intakeId': ':intakeId'}) }}',
                  api_school_course_intake_remove: '{{ path('api_school_course_intake_remove', {'courseId': ':courseId', 'intakeId': ':intakeId'}) }}',
                  api_school_course_intake_list: '{{ path('api_school_course_intake_list', {'courseId': ':id'}) }}',
                  api_school_campus: '{{ path('api_school_campus', {'campusId': ':id'}) }}',
                  api_school_campus_add: '{{ path('api_school_campus_add') }}',
                  api_school_campus_edit: '{{ path('api_school_campus_edit', {'campusId': ':id'}) }}',
                  api_school_campus_list: '{{ path('api_school_campus_list') }}',
                  api_school_profile_edit: '{{ path('api_school_profile_edit') }}',
                  api_school_profile: '{{ path('api_school_profile') }}',
                  api_school_application: '{{ path('api_school_application', {'applicationId': ':applicationId'}) }}',
                  api_school_application_edit: '{{ path('api_school_application_edit', {'applicationId': ':applicationId'}) }}',
                  api_school_application_list: '{{ path('api_school_application_list') }}',
                }
                {% else %}
                const urls = {}
                {% endif %}
                const abeApp = {
                  currentUser: {email: '{{ app.user ? app.user.email }}'},
                  otherAccounts: {{ other_accounts() }},
                  currentSection: {% if currentSection == '' %} null {% else %} '{{ currentSection }}' {% endif %},
                  urls: Object.assign({
                    home: '{{ path(constant('App\\Infrastructure\\RouteEnum::HOME')) }}',
                    school_login: '{{ path('school_login') }}',
                    admin_login: '{{ path(constant('App\\Infrastructure\\RouteEnum::ADMIN_LOGIN')) }}',
                    student_login: '{{ path(constant('App\\Infrastructure\\RouteEnum::STUDENT_LOGIN')) }}',
                  }, urls)
                }
                window.abeApp = abeApp
            </script>
            {% block stylesheets %}
                {{ encore_entry_link_tags('app') }}
            {% endblock %}

            {% block javascripts %}
                {{ encore_entry_script_tags('app') }}
            {% endblock %}
        {% endblock resources %}
    </head>
    <body>
        <noscript>Please enable JavaScript to run this app.</noscript>
        <div id="root"></div>
    </body>
</html>
